/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin:0 auto; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0 auto; background:none; position: relative; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width:45px; height:91px; margin: -20px 0 0; display: block; background: url(../../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top:45%; z-index: 999; cursor: pointer; text-indent: -9999px; opacity: 1;}
.flex-direction-nav .flex-next { background-position: 100% 0; right:-2px; }
.flex-direction-nav .flex-prev {left:-2px;}
.flexslider:hover .flex-next { right:-2px;}
.flexslider:hover .flex-prev {left:-2px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width:100%; margin-top:12px; text-align:center; /*position: absolute; bottom:10px; right:10px; text-align:right; z-index:9999;*/}
.flex-control-nav li {margin:0 6px; display: inline-block; zoom: 1; *display: inline; text-indent:-9999px; font-size:0px;}
.flex-control-paging li a {width:15px; height:15px; display:block; background:#FFF; border:#CCC solid 0px; text-indent:-9999px!important; font-size:0px;
-moz-border-radius:15px!important;
    -webkit-border-radius:15px!important;
    -khtml-border-radius:15px!important;
    border-radius:15px!important;
	-webkit-box-shadow: inset 0px 0px 10px  rgba(0, 0, 0, 0.5)!important;
	-moz-box-shadow: inset 0px 0px 10px  rgba(0, 0, 0, 0.5)!important;
 	box-shadow: inset 0px 0px 10px  rgba(0, 0, 0, 0.5)!important;
 /*background: url(../../images/slider_paging_off.png) 0 0 no-repeat;*/ }
.flex-control-paging li a:hover {background:#79a007; cursor:pointer; }
.flex-control-paging li a.flex-active { background:#ccc;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


#slider2 { position:relative;}
.flexslider2 .slides img { width:950px; height:500px !important; border:#CCC solid 5px;}
/* Direction Nav 2 */
.flexslider2 .flex-direction-nav {*height: 0;}
.flexslider2 .flex-direction-nav a  { display: block; width: 45px; height: 91px; margin: -20px 0 0; position: absolute; top:35%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; text-indent:-9999px !important; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;  background: url(../../images/bg_direction_nav2.png) no-repeat 0 0 !important;}

.flexslider2 .flex-direction-nav .flex-prev { left: -50px; }
.flexslider2 .flex-direction-nav .flex-next { right: -50px; background-position: -45px 0 !important; }
.flexslider2:hover .flex-prev { opacity: 0.8; left: 25px;  }
.flexslider2:hover .flex-next { opacity: 0.8; right: 25px;  }

.flexslider2:hover .flex-next:hover, .flexslider2:hover .flex-prev:hover { opacity: 1; text-indent:-9999px !important;}
.flexslider2 .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flexslider2 .flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flexslider2 .flex-direction-nav a.flex-next:before  { content: '\f002'; }