@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
	     url('bebasneue-webfont.svg#bebas_neueregular') format('svg'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;

}