@charset "UTF-8";
/* CSS Document */

.qq_form p { margin:0; padding:0 0 0px 12px; line-height:22px; font-size:12px !important;}
.qq_form .checkbox_insurance { margin-left:5px; white-space:nowrap; font-size:11px!important;}
