@media (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 979px) {


}

@media (max-width: 853px) {
	
	
}

@media (max-width: 800px) {


}


@media (max-width: 768px) {
	
	
	
}

@media (max-width: 600px) {

	
}

@media (max-width: 533px) {
	
	
}

@media (max-width: 480px) {

	
}

@media (max-width: 320px) {
.clear { height:0!important;}	
.container { width:300px!important; margin:0 auto!important; padding:0!important;}
#header { width:100%!important; height:auto!important; text-align:center!important; position:relative!important;}
#logo { width:100%!important; margin:10px auto !important;}
#logo img { width:257px!important;margin:0 auto!important; display:block;}
#slogan { width:90%!important; text-align:left!important; padding-left:10px!important;}

#user_menu2 {border-top:1px solid #79a007;}
#user_menu2 .navbar { float:none!important;text-align:left!important; }
#user_menu2 .navbar-nav { margin:0!important;}
#user_menu2 li.dropdown { width:47%; float:left!important; margin-left:5px; display:block;}
#user_menu2 .dropdown-menu li a { width:75%; display:block!important; text-align:left!important; margin:0!important; padding:5px 10px!important;}


#user_menu { width:100%; margin:0!important; padding:0!important; display:block; clear:both!important; }
#user_menu .navbar {float:left!important; margin:0px 0 0 20px!important; text-align:left!important;}

#user_menu li { display:block; width:100%!important; margin:0!important;}
#user_menu .dropdown-menu {margin:0!important; padding:0!important;}
#user_menu .dropdown-menu li a { display:block!important; text-align:left!important; margin:0!important; padding:5px 10px!important;}
 
.top_menu { display:none!important;} 
.navigation { background-color:#79a007!important; margin:0!important; padding:0!important;}
#mobile_nav { display:block!important; background:#FFF; width:100%!important; margin:0 auto!important; float:none!important; clear:both!important;}
#mobile_nav { float:none !important;}
#mobile_nav ul {margin:0!important; padding:0!important;}
#mobile_nav li { display:block!important; width:100%!important; margin:10px 0 0 0!important; padding:0!important;}
#mobile_nav li a { display:block!important; float:none!important; width:91%!important; padding:2px 10px!important; font-size:18px;}
#mobile_nav .navbar-collapse .collapse { display:block !important;}


#mobile_nav .sub-menu li { margin:0!important;}
#mobile_nav .sub-menu li a{
	padding:5px 10px 5px 11px!important;
	margin:0!important;
	display:block!important;
	font-size:16px!important;	
}

}




