/* ---------------------------------------------------- */
/* dropcap												*/
/* ---------------------------------------------------- */

.dropcap {
	display: block; 
	float: left;
	font-size: 34px;
	line-height: 1;
	margin: 0 10px 0 0; 
}

/* ---------------------------------------------------- */
/* pricing table										*/
/* ---------------------------------------------------- */


.pricing-table.col-2, .pricing-table.col-3, .pricing-table.col-4, .pricing-table.col-5{
	width:100%;
	margin:20px 0 30px 0;
}

.pricing-table.col-2 .plan{
	float:left;
	width:458px;
	display: block;
}
.pricing-table.col-3 .plan{
	float:left;
	width:305px;
	display: block;
}
.pricing-table.col-4 .plan{
	float:left;
	width:228px;
	display: block;
}
.pricing-table.col-5 .plan{
	float:left;
	width:182px;
	display: block;
}

.plan{
	border:1px solid #d5d5d5;
	border-right:0px;
	text-align: center;
	
}
.pricing-table .plan:last-child{
	border-right:1px solid #d5d5d5;
}
.plan.featured{
	position: relative;
	z-index: 200;
	margin:-20px -1px 0 0;
	padding:20px 0px 0 0;
	border:1px solid #ec7100 !important;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3); 
}
.pricing-table .plan.featured:last-child{
	border-right:1px solid #ec7100 !important;
}

.plan h3{
	font-weight:300;
	font-size:20px;
	margin:-1px -1px 0px -1px;
	padding:12px 0 7px 0;
	background-color: #666666;
	color:#ffffff;
}
.plan.featured h3{
	font-size:24px;
	margin:-21px -1px 0px -1px;
	padding:21px 0 17px 0 !important;
	background-color: #ec7100 !important;
	color:#ffffff;
}

.plan .price{
	font-size:18px;
	font-weight:600;
	margin:0 -1px 0 -1px;
	padding:10px 0px 10px 0px;
	background-color: #666666;
	background-image: url(../images/darken.png);
	color:#ffffff;
}
.plan.featured .price{
	background-color: #ec7100 !important;
	color:#ffffff;
}
.plan.featured .price span{
	color: rgba(255, 255, 255, 0.5);
}
.plan .price span{
	font-weight:400;
	font-size:10px;
	color: rgba(255, 255, 255, 0.5);
}
.plan .signup{
	border-top:1px dotted #d5d5d5;
	padding:15px 0px;
	text-align: center;
	background-color: #f3f3f3; 
	margin:15px 0 -20px 0;
}
.plan.featured .signup{
	padding:18px 0 18px 0;
}
.plan ul{
	margin:0 !important;
	list-style: none !important;
	padding:0 !important;
}
.plan li{
	margin:0 10px !important;
	padding:7px 0px 7px 20px !important; 
	text-align: left;
	border-bottom:1px solid #efefef;
	font-size:13px !important; 
	background:url(../images/list-check.png) 0 12px no-repeat !important;
}
.plan li:last-child{
	border-bottom:0px;
}
.plan .button { color:#FFF;}
.plan .button:hover {color: #FFF !important; background:#3d6117;}
.plan.featured .button:hover {color:#ec7100 !important; background-color: inherit !important;}
.plan p { font-size:12px; padding:10px 10px 0 10px;}	

/* ---------------------------------------------------- */
/* accordion											*/
/* ---------------------------------------------------- */

.accordion{
	border-bottom:1px solid #e8e8e8;
}
.accordion .title a{
	font-size:15px;
	font-weight:700px;
	color:#777777;
	display: block;
	border-top:1px solid #e8e8e8;
	padding:25px 20px 25px 50px;
	background: url(../images/plus.png) no-repeat 20px 28px;
}
.accordion .title a:hover{
	background: #f8f8f8 url(../images/plus.png) no-repeat 20px 28px;
}
.accordion .title.active a{
	color:#ec7100 !important;
	background: #ffffff url(../images/minus.png) no-repeat 20px 28px;
}
.accordion .inner{
	margin-top:-10px;
	padding:0px 20px 20px 50px;
}

/* ---------------------------------------------------- */
/* toggle												*/
/* ---------------------------------------------------- */

.toggle{
	border:1px solid #e8e8e8;
	margin-bottom:20px;
}
.toggle .title{
	font-size:15px;
	font-weight:700px;
	color:#777777;
	display: block;
	padding:20px 20px 20px 50px;
	background: url(../images/plus.png) no-repeat 20px 23px;
	cursor: pointer;
}
.toggle .title:hover{
	color:#ec7100;
	background: #f8f8f8 url(../images/plus.png) no-repeat 20px 23px;
}
.toggle .title.active{
	color:#ec7100;
	background: #ffffff url(../images/minus.png) no-repeat 20px 23px;
}
.toggle .inner{
	display: none;
}
.toggle .inner div{
	padding:20px 20px 20px 20px;
	border-top:1px dotted #d5d5d5;
}

/* ---------------------------------------------------- */
/* tabs													*/
/* ---------------------------------------------------- */

ul.tabNavigation {
	list-style: none;
	margin: 0 0 -9px 0 !important;
	padding: 0;
	border-bottom:none !important;
	overflow: hidden;
}

ul.tabNavigation li {
    display: block;
    float:left;
    margin:0 !important;
    padding:0;
}

ul.tabNavigation li a {
	display: block;
	padding:10px 20px;
    float:left;
    background-color: #f8f8f8;
    text-decoration: none;
    border:1px solid #d5d5d5;
    margin-right:-1px;
    color:#a6a6a6;
}

ul.tabNavigation li a.active{
    background-color: #ffffff;
    color:#ec7100;
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ec7100;
}

ul.tabNavigation li a:hover {
	color:#ec7100;
}

ul.tabNavigation li a:focus {
	outline: 0;
}

div.tabs div {
	padding:20px;
	margin:8px 0 0 0;
	display: none;
	border:1px solid #d5d5d5;
	border-top:1px solid #d5d5d5;
	background:#fff; 
}

div.tabs{
	margin-bottom:20px;
}

/* ---------------------------------------------------- */
/* alerts												*/
/* ---------------------------------------------------- */

.alert-message p{
	margin:0 !important;
}

.alert-message{
	display: block;
	padding:10px 20px;
	text-align: center;
	color:#717171 !important;
	margin-bottom:20px;
}
.alert-message a{
	display: block;
	width:13px;
	height:13px;
	margin-top:4px;
	float: right;
	background: url(../images/close.png) no-repeat 0px 0px;
	text-indent: -9999px;
	opacity: 0.4;
}
.alert-message a:hover{
	opacity: 0.8;
}
.alert-message.warning{
	background: #fbf6e4 url(../images/alert-warning.png) no-repeat 12px 8px;
	border:1px solid #eed77d;
	color:#c7a900 !important;
}
.alert-message.error{
	background: #fee9e9 url(../images/alert-error.png) no-repeat 12px 8px;
	border:1px solid #e8a0a0;
	color:#d45959 !important;
}
.alert-message.success{
	background: #e9f2d3 url(../images/alert-success.png) no-repeat 12px 8px;
	border:1px solid #c0d86d;
	color:#77a113 !important;
}
.alert-message.info{
	background: #dce9f3 url(../images/alert-info.png) no-repeat 12px 8px;
	border:1px solid #a0c2dc;
	color:#387cb0 !important;
}
.alert-message.notice{
	background: #ffffff url(../images/alert-block.png) no-repeat 12px 8px;
	border:1px solid #cccccc;
	color:#999999 !important;
}

/* ---------------------------------------------------- */
/* List */
/* ---------------------------------------------------- */

ul.list{
	display:block;
	margin-bottom:20px;
}

ul.list li{
	padding:4px 0 4px 24px;
	border-bottom:1px dotted #e4e4e4;
}

ul.list li:last-child{
	border-bottom: none;
	margin-bottom:20px;
}

ul.list.arrow li{
	background: url(../images/list-arrow.png) no-repeat 2px 8px;
}
ul.list.check li{
	background: url(../images/list-check.png) no-repeat 2px 8px;
}
ul.list.minus li{
	background: url(../images/list-minus.png) no-repeat 2px 8px;
}
ul.list.plus li{
	background: url(../images/list-plus.png) no-repeat 2px 8px;
}
ul.list.x li{
	background: url(../images/list-x.png) no-repeat 2px 8px;
}

/* ---------------------------------------------------- */
/* Gmap	*/
/* ---------------------------------------------------- */

.google_map{
	margin-bottom:30px;
}

.google_map.full{
	margin:-32px -30px 30px -30px;
}

/* ---------------------------------------------------- */
/* Video	*/
/* ---------------------------------------------------- */

.video-embed .iframe{
	border: 0px solid #f5f5f5;
}

/* ---------------------------------------------------- */
/* Column Layout										*/
/* ---------------------------------------------------- */

.one_half{ width:440px; }
.one_third{ width:293px; }
.two_third{ width:607px; }
.one_fourth{ width:22%; }
.three_fourth{ width:75%; }
.one_fifth{ width:168px; }
.two_fifth{ width:172px; }
.three_fifth{ width:172px; }
.four_fifth{ width:172px; }

#content-part .one_half{ width:325px; }
#content-part .one_third{ width:210px; }
#content-part .two_third{ width:440px; }
#content-part .one_fourth{ width:22%; }
#content-part .three_fourth{ width:75%; }
#content-part .one_fifth{ width:118px; }
#content-part .two_fifth{ width:172px; }
#content-part .three_fifth{ width:172px; }
#content-part .four_fifth{ width:172px; }

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ 
	position:relative;
	float:left;
}
.last{ 
	margin-right:0 !important; 
	clear:right;
}

/* ---------------------------------------------------- */
/* Buttons												*/
/* ---------------------------------------------------- */

.button{
  cursor: pointer;
  display: inline-block;
  background-color: #ec7100;
  padding: 5px 14px 6px;
  color: #ffffff;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.button:hover {
  background-color:#666666;
  color: #ffffff;
  text-decoration: none;
}

.button.light{
	background-color: #ffffff;
	background-image: url(../images/btn-light.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: 5px 14px 6px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
  color: #666666;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.button.light:hover{
	border-color:#999999;
	color:#333333;
  	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);	
}

.button.dark{
	background-color: #676767;
	background-image: url(../images/btn-light.png);
	background-position: center bottom;
	border-color: #595959;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.01);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.01);
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.01);
  	color:#ffffff;
  	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
}
.button.dark:hover{
	background-color: #484848;
	color:#ffffff;
  	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);	
}


.button.large {
  font-size: 15px;
  line-height: normal;
  padding: 8px 14px 8px;
}

.button.small {
  padding: 5px 9px 5px;
  font-size: 11px;
}

.button.left	{
	float: left;
	margin-right: 10px !important;
}
.button.right	{
	float: right;
	margin-left: 10px !important;
}
/* ---------------------------------------------------- */
/* End of Shortcodes									*/
/* ---------------------------------------------------- */